
/* html body.horizontal-menu{
	padding-top:0;
} */
.horizontal-menu.menu-collapsed #main-menu-navigation .nav-item a span {
  display: none; }

.horizontal-menu .navigation-header {
  font-family: inherit;
  color: #929292;
  padding: 8px 20px;
  font-size: 1rem;
  text-transform: uppercase; }

.horizontal-menu .navbar-flipped .navbar-nav .nav-item {
  float: right; }

.horizontal-menu .navbar-light ul#main-menu-navigation > li.active > a {
  border-bottom: 2px solid #00B5B8;
  background: #FFFFFF; }

.horizontal-menu .navbar-light .active > a {
  background: whitesmoke;
  font-weight: 500; }

.horizontal-menu .navbar-dark .nav-item.active > a {
  border-bottom: 2px solid #00B5B8;
  background-color: #313C50; }

.horizontal-menu .navbar-dark .active > a {
  background: whitesmoke;
  font-weight: 500; }
